# Make vim the default editor
#export EDITOR="vim";
# tell sublime not to quit before saving (useful for commit messages etc)
export EDITOR="subl -w";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
# TODO: grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
# export GREP_OPTIONS="--color=auto";

# Install casks to sensible and predictable locations
# See also https://github.com/caskroom/homebrew-cask/issues/6831
# Note: Remember to "sudo chown -R $(whoami) /etc/Caskroom" in order to avoid permission denied.
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# $TMPDIR defined in windows must be changed in order for ghcup to work
if [[ "$TMPDIR" =~ ^/mnt/c/ ]]; then
    export TMPDIR="/tmp"
fi

